#jumbo {
    background-color: #FF9999;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    color: #FFFFFF;
}


body {
    background-color: #663333;
}

.code {
    background-color: #999999;
    color: #FFFFFF;
}

.text {
    color: #FFFFFF;
}