#test-only {
   color: #000000;
}

#real-alert {
    color: #ffffff;

}


.missile-link {
    font-weight: bold;
    font-size: 20px;

}

.test-header {
    font-family: 'Bebas Neue', cursive;
}

.real-header {
    font-family: 'Bebas Neue', cursive;
}

