body {
    font-family: 'Nanum Gothic', sans-serif;
    background-color: #333333;


}

.jumbotron {
    font-family: 'Bebas Neue', cursive;

}

.form-check {
    color: #ffffff;
}

.n {
    color:#ffffff;
}

.e {
    color:#ffffff;
}
.c {
    color:#ffffff;
}

.form-text {
    color:#ffffff;
}

.message {
    color:#ffffff;
}